* {
  padding: 5px;
  max-width: 100%;
}
/* .hero-section img {
  max-width: 100%;
  /* height: auto; */
padding: 5px;
/* }
.black-box-section {
  background-color: black;
  width: 800px;
  height: 50px;
  padding-left: 10px;
  /* align-items: center; */
/* justify-content: center;
  color: white;
}
.text {
  color: white;
  justify-content: center;
  align-items: center;
} */
*/ */
 /* @media only screen and (max-width:600px) {
  width: 80px;
  padding: 10px;
} */
